body {
	margin: 0;
	background-color: #f0f0f0;
	color: #444;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

#container {
	position: absolute;
  }

  /* Define styles for the tooltip */
.tooltip {
	position: absolute;
	display: none;
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	z-index: 1;
	/*opacity: 0;*/
  	/*transition: opacity 0.5s, visibility 0.5s;*/
	/*transition-delay: 2s; /* 2-second delay */
	/*pointer-events: none;*/
	white-space: pre-line; 
  }

  /* Delayed tooltip appearance */
  /*
.tooltip-container:hover .tooltip {
	display: block;
	opacity: 0;
	animation: tooltipFadeIn 2s forwards; 
	visibility: hidden;
  }
  */


  /*
  
  @keyframes tooltipFadeIn {
	0% {
	  opacity: 0;
	  visibility: hidden;
	}
	100% {
	  opacity: 1;
	  visibility: visible;
	}
  }
  */

.overlay {
	position: absolute;
	top: 30%;
	left: 6%;
	color: black;
	font-size: 14px;
	z-index: 1; /* Ensure it's displayed on top of the 3D scene */
  }

#keyoverlaystylesheetmarker{
	top:30%;
}
  